<footer class="site-footer">
    <div class="footer-content">
        <p class="footer-name">
            Akinronbi Oluwapelumi
        </p>

        <nav aria-label="Footer Navigation">
           <ul class="footer-links">
                <li><a href="#about">About</a></li>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#contact">Contact</a></li>
           </ul> 
        </nav>
    </div>
    <p class="copyright">
        &copy; 2026 Akinronbi Oluwapelumi. All rights reserved.
    </p>
</footer>
