<section class="hero" aria-labelledby="hero-title">
    <header class="hero-content">

        <p class="greeting">Hello, I'm</p>

        <h1 id="hero-title">Akinronbi Oluwapelumi Oluwakorede</h1>

        <p class="hero-role">Chemist &amp; Frontend Developer</p>

        <p class="intro">
            With a background in chemistry and growing passion for 
            software development , I enjoy combining scientific thinking 
            with technology to build useful and engaging web applications.
        </p>

        <nav class="hero-actions" aria-label="Hero actions">
            <a href="#about">About Me</a>
            <a href="#projects">View My Works</a>
            <a href="#contact">Contact Me</a>
        </nav>


    </header>
</section>