<section
    class="projects"
    id="projects"
    aria-labelledby="projects-title"
>

    <header class="section-header">
        <p class="section-label">
            What I've worked on
        </p>
        <h2 id="projects-title">My Projects</h2>
    </header>

    <div class="projects-content">

        <article class="project-card">
            <header class="project-header">
                <p class="project-type">
                    Frontend Development
                </p>
                <h3>Citizen Reporter</h3>
            </header>

            <p>
                A web application that allows citizens to report issues 
                and submit information through a simple user-friendly interface
            </p>

            <ul class="project-technologies">
                <li>HTML</li>
                <li>CSS</li>
                <li>TypeScript</li>
            </ul>

            <footer class="project-links">
                <a 
                    href="http://citizen-reporter-tawny.vercel.app/"  
                    target="_blank" 
                    rel="noopener noreferrer">
                    View Project
                </a>
            </footer>
        </article>

        <article class="project-card">
            <header class="project-header">
                <p class="project-type">
                    Full-Stack web Application
                </p>
                <h3>Multi-User Blog</h3>
            </header>

            <p>
                A multi-user blogging platform where users can create, publish,
                and manage their own blog posts through a structured and user-friendly 
                interface.
            </p>

            <ul class="project-technologies">
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>API</li>
                <li>CRUD</li>
            </ul>

            <footer class="project-links">
                <a 
                    href="https://multiuserblogpost.vercel.app/" 
                    target="_blank" 
                    rel="noopener noreferrer"
                >
                    View Project
                </a>
            </footer>
        </article>

        <article class="project-card">
            <header class="project-header">
                <p class="project-type">
                    Frontend Development
                </p>
                <h3>Grocery List</h3>
            </header>

            <p>
                A shopping and Interactive grocery list application that allows
                users to add, manage, and organize items they need while shopping.
            </p>

            <ul class="project-technologies">
                <li>HTML</li>
                <li>CSS</li>
                <li>React.js</li>
                <li>API</li>
                <li>CRUD</li>
            </ul>

            <footer class="project-links">
                <a 
                    href="https://grocery-list-pi-mauve.vercel.app/" 
                    target="_blank" 
                    rel="noopener noreferrer"
                >
                    View Project
                </a>
            </footer>
        </article>

        <article class="project-card">
            <header class="project-header">
                <p class="project-type">
                    Frontend Development
                </p>
                <h3>A Personal Website</h3>
            </header>

            <p>
                A personal portfolio website built with Angular to showcase my background
                in chemistry, frontend development skills and software projects. The website
                provides an overview of my experience, technical skills, projects, and journey into
                web development, which you are currently viewing.
            </p>

            <ul class="project-technologies">
                <li>HTML</li>
                <li>CSS</li>
                <li>Angular</li>
                <li>TypeScript</li>
             
            </ul>

            <footer class="project-links">
                <a 
                    href="https://personal-website-bisshy-works.vercel.app/" 
                    target="_blank" 
                    rel="noopener noreferrer"
                >
                    View Project
                </a>
            </footer>
        </article>

        <article class="project-card">
            <header class="project-header">
                <p class="project-type">
                    Chemistry Research
                </p>
                <h3>Physiochemical Properties and Storage Stability of Hura-Creptians</h3>
            </header>

            <p>
               A chemistry research project focused on investigating the 
               physicochemical properties of Hura-Creptian oil and examining
               it storage stability when exposed to diverse facotors
            </p>

            <ul class="project-technologies">
                <li>Chemical Analysis</li>
                <li>Research</li>
                <li>Data Analysis</li>
            </ul>

            <footer class="project-links">
                <a href="#contact">
                    Learn More
                </a>
            </footer>
        </article>

    </div>
</section>
